@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
    color: white;
}

html, body {
    background-color: #bcd87e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}

h1 {
    text-align: center;
    margin: 30px;
    font-size: 10vh;
}

/*RELÓGIO ANALÓGICO*/
.container {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
}

.relogio, .horas, .minutos {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: invert(100%);
}

@keyframes girarPonteiro {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.horas{
    animation: girarPonteiro 60s linear infinite;
}

.minutos {
    animation: girarPonteiro 5s linear infinite;
}

/*RELÓGIO DIGITAL-----------------------------------*/
#clock h2{
    position: relative;
    display: block;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    font-size: 1em;
    background-color: #65A603;
    border-radius: 10px;
    padding: 4px;
}

#clock #time {
    display: flex;
}

#clock #time div {
    position: relative;
    margin: 0 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.171));
}

@font-face {
    font-family: 'fontDigital';
    src: url(../font/DS-DIGIB.TTF);
}

#hour, #minute, #second {
    font-family: 'fontDigital', monospace;
}

#clock #time div span{
    position: relative;
    display: block;
    width: 100px;
    height: 120px;
    background-color: #0388A6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: bolder;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
}

#clock #time div span:nth-child(2){
    height: 30px;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    font-weight: bolder;
    box-shadow: none;
    background: #B8CAD9;
    text-transform: uppercase;
    z-index: 9;
}

.corFont {
    font-weight: bolder;
}

#fixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #65A603;
}

footer > p {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

#gitHub {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#gitHub::after {
    content: ' 🔗';
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

#gitHub:hover {
    text-decoration: underline;
    background-color: #A6035D;
    padding: 4px;
    border-radius: 5px;
    font-weight: bolder;
    animation: fadeIn 1s linear;
}
